In [1]:
from scripts.models import tfidf

In [2]:
import pandas as pd
import numpy as np

In [3]:
from scripts.preprocessing import load_data,clean_df,tokenize,train_test

In [4]:
df = load_data()
df.head()

,Brand,Headline,Review,Grade,Tokenized_review
0,Just Eat,owe me money and won’t pay,Owed money for a meal half empty and cold sinc...,1,"[owe, money, meal, half, empty, cold, since, d..."
1,Just Eat,P1ss poor. Won’t attempt to use again,"Having ordered last night, I was given a deliv...",1,"[order, last, night, I, give, delivery, time, ..."
2,Just Eat,Compensation thieves!,"Be careful of these money stealing, no deliver...",1,"[careful, money, steal, deliver, joke, company..."
3,Just Eat,The WORST customer service,The WORST customer service. Never received my ...,1,"[bad, customer, service, never, receive, reque..."
4,Just Eat,Awful customer service,Awful customer service. For past few months I'...,1,"[awful, customer, service, past, month, I, fac..."

In [5]:
len(df)

6067

In [6]:
corpus_tfidf, features = tfidf(df)

In [7]:
corpus_tfidf

<6067x9841 sparse matrix of type '<class 'numpy.float64'>'
	with 114522 stored elements in Compressed Sparse Row format>

In [8]:
print(features, len(features))

['00' '010' '010224just' ... 'zucchini' 'zurich' 'аss'] 9841

In [9]:
for f in features[2000:2004]:
    print(f, ':', corpus_tfidf[:,np.where(features == f)[0]])

coarse :   (273, 0)	0.6316555683363302
coast :   (2589, 0)	0.2166951050519382
  (3080, 0)	0.34801966947622764
  (4713, 0)	0.19514437272556506
  (5720, 0)	0.42878243430549295
coat :   (3803, 0)	0.27955428734619103
  (4280, 0)	0.18146896141103686
coating :   (3717, 0)	0.38253533314157406

In [10]:
df = clean_df('Headline',df)
df['Tokenized_headline'] = tokenize(df,'Headline')
df.head()

,Brand,Headline,Review,Grade,Tokenized_review,Tokenized_headline
0,Just Eat,owe me money and won’t pay,Owed money for a meal half empty and cold sinc...,1,"[owe, money, meal, half, empty, cold, since, d...","[owe, I, money, wo, nt, pay]"
1,Just Eat,P1ss poor. Won’t attempt to use again,"Having ordered last night, I was given a deliv...",1,"[order, last, night, I, give, delivery, time, ...","[p1ss, poor, wo, nt, attempt, use]"
2,Just Eat,Compensation thieves!,"Be careful of these money stealing, no deliver...",1,"[careful, money, steal, deliver, joke, company...","[compensation, thief]"
3,Just Eat,The WORST customer service,The WORST customer service. Never received my ...,1,"[bad, customer, service, never, receive, reque...","[bad, customer, service]"
4,Just Eat,Awful customer service,Awful customer service. For past few months I'...,1,"[awful, customer, service, past, month, I, fac...","[awful, customer, service]"

In [11]:
x_train, x_test, y_train, y_test = train_test(df)

In [15]:
y_test.head()

2763    [two, business, day, shipping, tough, ca, nt, ...
3758    [always, goto, coffee, shop, never, bad, exper...
1652    [cs, rep, respond, quickly, question, issue, r...
3872    [strange, one, I, want, normal, coffee, new, s...
5143    [food, customer, service, delivery, I, wish, c...
Name: Tokenized_review, dtype: object